<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Calculator by Daffa Saskara</title>
</head>
<body>
    <div id="app">
        <h1>Calculate-r</h1>
        <p>Inputkan angka</p>
        <input v-model="x" type="number">
        <input v-model="y" type="number">
        <br>
        <button v-on:click="hasil=parseFloat(x)+parseFloat(y)"> + </button>
        <button @click="hasil=x-y"> - </button>
        <button @click="hasil=x*y"> x </button>
        <button @click="hasil=x/y"> / </button>
        <p>Hasil: </p>
        <p>{{ hasil }}</p>
    </div>
</body>
<!-- Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.0/dist/vue.global.prod.js"></script>
<script>
    const app = Vue.createApp({
        data() {
            return {
                x: 0,
                y: 0,
                hasil: 0
            }
        }
    });

    app.mount('#app');
</script>
</html>